@import "./input/Input.css";
@import "./output/Output.css";
@import "./shared/Graph.css";

.vertex-cover-variant-navigation {
    padding: 0.25rem;
    width: fit-content;
    margin-left: auto;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.vertex-cover-variant-button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
}
